.dropdown-content {
    display: none;
    box-shadow: 0px 5px 5px 0px gray;
    width: 160px;
}

.dropdown:hover .dropdown-content  {
    display: block;
}

.dropdown-content label {
    display: block;
}

.dropdown {
    border: 1px solid red;
    width: 160px;
}